
.home{
    background-color: #e7edea;
    height: 100%;
    width: 100%;
  }

  .content{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 90px 40px;
 }
  
  .brainimg{
    width: 80px;
    height: auto;
    margin-right: 15px;
  }

  .note{
    margin-bottom: 50%;
    width: 100px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    text-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    background-color: transparent;
  }
  
  .listnotes{
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: row;
    //ver porque o list notes tira a responsividade da dificuldade
  }

  .back{
      flex-direction: row;
      padding: 3%;
  }
  
  .btn{
    padding: 5px,90px;
    margin-top: 40px;
  }
  
  .logo{
    padding: 20px 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    display:flex;
    flex-direction: row;
  }

  .persona{
    padding: 10px 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    display:flex;
    flex-direction: row;
  }

  .selected
  {
   // box-shadow: rgb(0, 0, 0) 0.1em 0.1em 0.2em;
    border-radius: 100%;
    border-style: outset;
    border-width: 4px;
    padding: 5px;
    border: 3px solid gray
  }

  