<div class="home">
  <div class="logo">
    <img class="brainimg" src="assets/icon/brain.png">
    <h1>Braimprove</h1>
  </div>


  <div class="content">
    <ion-card color="tertiary">
      <ion-card-header>
        <ion-card-title>Sobre</ion-card-title>
        <ion-card-subtitle>Um pouco sobre o aplicativo</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        O Braimprove é um sistema que tem como objetivo exercitar as faculdades mentais através de minigames divertidos.
        O minigame Jogo da Memória tem como objetivo aperfeiçoar a memória do usuário. E o Sudoku tem como objetivo
        melhorar o raciocínio lógico e atenção do jogador.
      </ion-card-content>

      <ion-card-header>
        <ion-card-subtitle>O projeto foi desenvolvido por:</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Caio Foramiglio<br>
        Gustavo Guimarães<br>
        Lucas Frias<br>
        Matheus Faria<br>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab class="back" vertical="bottom" horizontal="start" slot="fixed" (click)="backHome()">
    <ion-fab-button color="tertiary">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>