.home {
    background-color: #e7edea;
    height: 100%;
    width: 100%;
  }
  
  .brainimg {
    width: 80px;
    height: auto;
    margin-right: 15px;
  }

  .back{
    flex-direction: row;
    padding: 3%;
}
      
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    
  }

  .word{
      color: black;
  }
    
  .logo {
    padding: 20px 90px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: black;
    display: flex;
    flex-direction: row;
  }