
.item {
    width: 100%;
    display: flex;
    --ion-item-background: #e7edea;
    justify-content: space-between;
}

.teste{
    width: 100%; 
    background-color: #e7edea;
}

.label{
    color: black;
}
.color {
    --ion-item-background: #e7edea;
}