<ion-toolbar color="tertiary">
  <ion-buttons slot="secondary">
    <ion-button color="secondary" id="btnAlterScore">
      <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-popover trigger="btnAlterScore" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item [button]="true" [detail]="false" (click)="rankingSudoku()">
            <ion-col>Sudoku</ion-col>
          </ion-item>
          <ion-item [button]="true" [detail]="false" (click)="rankingMemoria()">
            <ion-col>Memória</ion-col>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
  <ion-title>Ranking</ion-title>
</ion-toolbar>
<div class="content">
  <ion-grid>
    <ion-row style="border-bottom: 1px solid black;padding: 5px 0;">
      <ion-col class="label" style="text-align: center;">
        Posição:
      </ion-col>
      <ion-col class="label" style="text-align: center;">
        Nickname:
      </ion-col>
      <ion-col class="label" style="text-align: center;">
        Game:
      </ion-col>
      <ion-col class="label" style="text-align: center;">
        Score:
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let score of Scores" style="border-bottom: 1px solid black; padding: 5px 0;">
      <ion-col class="label" style="text-align: center;">
        {{ score.position }}
      </ion-col>
      <ion-col class="label" style="text-align: center;">
        {{ score.name }}
      </ion-col>
      <ion-col class="label" style="text-align: center;">
        {{ score.game }}
      </ion-col>
      <ion-col class="label" style="text-align: center;">
        {{ score.score }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab class="back" vertical="bottom" horizontal="start" slot="fixed" (click)="backHome()">
    <ion-fab-button color="tertiary">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>